<div id="div1"class="container ">
<div class="jumbotron">

  
        <H1 style="text-align:center;">{{Value}}</H1>
        <div class="center">
        <p>The disease can spread from person to person through small droplets from the nose or mouth
        when a person with COVID-19 coughs or exhales. People can also catch COVID-19 by touching 
        objects or surfaces (where droplets land), then touching their eyes, nose or mouth.</p>
        
        
        <app-user></app-user>
        <app-country></app-country>
    </div>
      

        
</div>
</div>
