


    <div style="text-align: center;"class="text-center">
  
      <img src="https://th.bing.com/th/id/OIP.TostX_UiFVlyajccRjHc_QHaDt?w=314&h=175&c=7&o=5&dpr=1.25&pid=1.7" class="img-fluid z-depth-1"
        alt="Responsive image" >
    </div>
          <br>
 
  <!-- all data -->

<h3 class="text-center mt-4 text-uppercase">Covid19 World Status</h3>
   
  <div class="row text-center">
          <div class="col-md-4" >
                     <div class="card bg-warning text-white">
                       <div class="card-body"><h3>Confirmed Cases</h3><h3>{{global.TotalConfirmed}}</h3></div>
                     </div>
          </div>
          <div class="col-md-4">
                      <div class="card card bg-success text-white">
                       <div class="card-body"><h3>Recovered Cases</h3><h3>{{global.TotalRecovered}}</h3></div>
                     </div>
          </div>
          <div class="col-md-4">
                      <div class="card card bg-danger text-white">
                       <div class="card-body"><h3>Death Cases</h3><h3>{{global.TotalDeaths}}</h3></div>
                     </div>
          </div>
  </div>



  <!-- end all data -->
  










